@use "/src/scss/base/mixins.scss";
@use "/src/scss/variables.scss";

.notfound {
  position: relative;
  color: var(--main-white-color);

  @include mixins.adaptiveValue("padding", 50, 25);

  @media (width < #{mixins.toEm(variables.$mobile)}){
    align-self: stretch;
    width: 100%;
    display: flex;
    justify-content:center;align-items: center;
  }

  &__container {
  }

  &__body {
    display: flex;
    flex-direction: column;

    @media (width < #{mixins.toEm(variables.$mobile)}){
      justify-content:center;align-items: center;
      text-align: center;
    }
  }

  &__image {
    @include mixins.adaptiveValue("max-width", 330, 220, 960, 480);

    &:not(:last-child) {margin-bottom: mixins.toRem(10);}

    img {
      max-width: 100%;
    }

    @media (width < #{mixins.toEm(variables.$mobile)}){
      &:not(:last-child) {margin-bottom: mixins.toRem(20);}
    }
  }

  &__content {
    &:not(:last-child) {margin-bottom: mixins.toRem(40);}
  }

  &__title {
    line-height: 1.2;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-2);
    @include mixins.adaptiveValue("--font-size", 28, 20);

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 15, 8, 960, 480);
    }
  }

  &__text {
    max-width: mixins.toRem(411);
    line-height: 1.3;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    color: var(--white-on-black-color);

    @include mixins.adaptiveValue("--font-size", 16, 15, 960, 480);
  }

  &__actions {
    display: flex;
    gap: mixins.toRem(8) mixins.toRem(10);

    @media (width < #{mixins.toEm(600)}){
      flex-direction: column;
    }
  }

  &__button {
    min-width: mixins.toRem(195);

    @media (width < #{mixins.toEm(600)}){
      min-width: mixins.toRem(257);
    }
  }
}