@use "/src/scss/base/mixins.scss";
@use "/src/scss/variables.scss";

.home-professors {
  position: relative;
  background-color: var(--dark-blue-color);
  color: var(--main-white-color);
  padding-bottom: mixins.toRem(200);
  @media (width < #{mixins.toEm(1440)}){
    padding-bottom: mixins.toRem(150);
  }

  @include mixins.adaptiveValue("padding-top", 100, 80, 480, 360);
  @include mixins.adaptiveValue("padding-bottom", 150, 100, 960, 767, 3);

  &__container {
    position: relative;
  }

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mixins.adaptiveValue("gap", 40, 20, 960, 767);
    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 100, 60, 1240, 960);
    }
  }

  &__title {
    font-family: Evolventa;
    line-height: 0.8;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 42, 30, 960, 480);

    @media (width >= #{mixins.toEm(variables.$mobile)}){
      max-width: mixins.toRem(550);
    }
    @media (width < #{mixins.toEm(variables.$mobileSmall)}){
      margin-left: mixins.toRem(16);
    }
  }

  &__subtitle {
    color: var(--white-on-blue-color);
    line-height: 1.3;
    font-size: var(--font-size);
    @include mixins.adaptiveValue("--font-size", 16, 15, 767, 480);

    @media (width >= #{mixins.toEm(1250)}){
      max-width: mixins.toRem(436);
    }

    @media (#{mixins.toEm(variables.$mobile)} < width < #{mixins.toEm(1250)}){
      max-width: mixins.toRem(666);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mixins.adaptiveValue("gap", 20, 8, 767, 480);

    &:not(:last-child) {margin-bottom: mixins.toRem(60);}

    @media (width < #{mixins.toEm(variables.$tablet)}){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: mixins.toRem(30);
    @include mixins.adaptiveValue("gap", 30, 20, 767, 480);

    &::after{
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: mixins.toRem(10);
      border-bottom: mixins.toRem(4) solid var(--main-white-color);
      border-radius: mixins.toRem(10);
      pointer-events: none;
      opacity: 0;

      .loaded & {
        transition: all 0.3s ease 0s;
      }
    }

    @media (width < #{mixins.toEm(variables.$tablet)}){
      &:nth-child(n+3) {
        display: none;
      }
    }

    @media (any-hover: hover){
      &:hover{
        &::after{
          opacity: 1;
        }
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    // height: mixins.toRem(350);
    border-radius: mixins.toRem(5);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }

    // @media (width < #{mixins.toEm(variables.$mobile)}){
    //   height: mixins.toRem(240);
    // }
  }

  &__content {
    margin-top: auto;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    @include mixins.adaptiveValue("font-size", 16, 15, 767, 480);

    p {
      &:not(:last-child):not(:has(+span)) {
        margin-bottom: mixins.toRem(20);
      }
    }

    >span {
      color: var(--white-on-blue-color);
      &:not(:last-child) {margin-bottom: mixins.toRem(20);}
    }
  }

  &__name {
    font-family: Evolventa;
    line-height: 1.2;
    @include mixins.adaptiveValue("font-size", 28, 20, 960, 480);

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 20, 12, 767, 480);
    }
  }

  &__more {
    margin-top: auto;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: mixins.toRem(9);

    svg {
      .loaded & {
        transition: all 0.3s ease 0s;
      }
    }

    @media (any-hover: hover){
      &:hover{
        svg {
          translate: 15% -15%;
        }
      }
    }
  }

  &__button {
    width: max-content;
    margin: 0 auto;
  }
}
