@use "/src/scss/base/mixins.scss";
@use "/src/scss/variables.scss";

.parallax-bg {
  @include mixins.adaptiveValue("padding-top", 20, 12, 960, 480, 3);
  @include mixins.adaptiveValue("padding-bottom", 100, 50, 960, 480);

  &__container {
  }

  &__wrapper {
    position: relative;
    border-radius: mixins.toRem(10);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% calc(-50% + var(--offset, 0px));
    width: 100%;
    height: calc(100% + var(--bg-offset, 20%));

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      @media (width < #{mixins.toEm(variables.$mobile)}){
        object-position: 0 0;
      }
    }
  }

  &__content {
  }
}