@use "/src/scss/base/mixins.scss";
@use "/src/scss/variables.scss";

.talent {
  background-color: var(--warm-white-color);

  @include mixins.adaptiveValue("padding-top", 100, 50, 1200, 480);
  @include mixins.adaptiveValue("padding-bottom", 100, 50, 1200, 480);

  &__container {
    display: grid;
    
    @media (width >= #{mixins.toEm(1300)}){
      gap: mixins.toRem(88);
      grid-template-columns: 1.1fr 1.9fr 1fr;
    }
    @media (#{mixins.toEm(850)} < width < #{mixins.toEm(1300)}){
      grid-template-columns: mixins.toRem(317) auto;
      gap: mixins.toRem(40);
    }
    @media (width < #{mixins.toEm(850)}){
      gap: mixins.toRem(40);
    }
    @media (width < #{mixins.toEm(variables.$mobileSmall)}){
      gap: mixins.toRem(30);
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: mixins.toRem(40);

    @media (width < #{mixins.toEm(850)}){
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__logo {
    @media (width < #{mixins.toEm(500)}){
      width: mixins.toRem(70);
      position: absolute;
      top: mixins.toRem(20);
      left: mixins.toRem(20);
    }
  }

  &__title {
    font-family: Evolventa;
    line-height: 0.8;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 42, 28, 960, 480);

    @media (#{mixins.toEm(500)} < width < #{mixins.toEm(850)}){
      max-width: mixins.toRem(257);
    }
    @media (width < #{mixins.toEm(variables.$mobileSmall)}){
      margin: mixins.toRem(20) mixins.toRem(16) mixins.toRem(12);
    }
  }

  &__image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .talent__img img {
      object-fit: cover;
      object-position: center;
      border-radius: mixins.toRem(5);
      height: 100%;
    }

    @media (width >= #{mixins.toEm(1300)}){
      max-width: mixins.toRem(530);
      min-height: mixins.toRem(600);
      .talent__img {
        height: 100%;
        
        &:nth-child(1 of &) {
          img {
            height: mixins.toRem(600);
            flex: 0 0 mixins.toRem(600);
          }
        }
        &:nth-child(2 of &) {
          img {
            width: mixins.toRem(280);
            flex: 0 0 mixins.toRem(280);
          }
        }
      }
    }
    @media (#{mixins.toEm(850)} < width < #{mixins.toEm(1300)}){
      gap: mixins.toRem(20);
      width: 100%;
      max-width: mixins.toRem(551);
      margin-left: auto;
      grid-row: 1 / span 2;
      grid-column-start: 2;

      .talent__img {
        &:nth-child(1 of &) {
          max-width: mixins.toRem(461);
          aspect-ratio: 461 / 417;
          img {
            object-position: top center;
            flex: 0 0 mixins.toRem(417);
          }
        }

        &:nth-child(2 of &) {
          width: mixins.toRem(265);
          flex: 0 0 mixins.toRem(150);
          margin-left: auto;
          aspect-ratio: 265 / 150;
        }
      }
    }
    @media (width < #{mixins.toEm(850)}){
      display: flex;
      flex-direction: column;
      gap: mixins.toRem(10);

      .talent__img {
        &:nth-child(1 of &) {
          aspect-ratio: 688 / 340;
          img {
            object-position: top center;
          }
        }
        &:nth-child(2 of &) {
          aspect-ratio: 688 / 300;
        }
      }
    }
    @media (width < #{mixins.toEm(500)}){
      .talent__img {
        &:nth-child(1 of &) {
          aspect-ratio: 464 / 480;
        }
      }
    }
  }

  &__img {
    overflow: hidden;
    display: flex;

    &_bt {
      flex-direction: column;
      justify-content: flex-end;
      max-height: 0;

      .loaded ._watcher-view & {
        max-height: mixins.toRem(600);
      }

      .loaded & {
        transition: max-height 0.9s ease 0s;
      }

      img {
        width: 100%;
      }
    }

    &_lr {
      // justify-content: flex-end;
      max-width: 0;

      .loaded ._watcher-view & {
        max-width: mixins.toRem(1920);
      }

      .loaded & {
        transition: max-width 1.8s ease 0s;
      }

      img {
        height: 100%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: mixins.toRem(50);

    line-height: 1.3;
    color: var(--grey-on-white-color);

    .talent__img {
      margin-top: auto;
      aspect-ratio: 280 / 150;
      height: mixins.toRem(150);
      width: 100%;
    }
    img {
      border-radius: mixins.toRem(5);
      object-fit: cover;
      object-position: center;
    }

    @media (width >= #{mixins.toEm(1300)}){
      max-width: mixins.toRem(280);
      margin-left: auto;
    }
  }
}
