@use "/src/scss/base/mixins.scss";
@use "/src/scss/variables.scss";
@use "sass:math";

.hero-workspace {

		&__container-small {
      padding-top: mixins.toRem(30);
      padding-bottom: mixins.toRem(100);
      gap: 0 mixins.toRem(30);
      align-items: center;
      
      @media (width >= #{mixins.toEm(variables.$tablet)}){
        display: flex;
        justify-content: space-between;
      }

      @media (#{mixins.toEm(760)} < width < #{mixins.toEm(variables.$tablet)}) {
        display: grid;
        grid-template-columns: mixins.percent(456,688) auto;
      }

      @media (width < #{mixins.toEm(variables.$tablet)}){
        padding-top: mixins.toRem(40);
        padding-bottom: mixins.toRem(80);
      }
      @media (width < #{mixins.toEm(variables.$mobile)}){
        padding-top: mixins.toRem(50);
        padding-bottom: mixins.toRem(60);
      }

      @media (width < #{mixins.toEm(760)}){
        display: flex;
        flex-direction: column;
        gap: mixins.toRem(30);
      }
		}

		&__content {
      max-width: mixins.toRem(538);
      @media (width < #{mixins.toEm(variables.$pc)}){
        max-width: mixins.toRem(475);
      }
      @media (width < #{mixins.toEm(variables.$tablet)}){
        max-width: none;
        width: 100%;
      }
		}

		&__title {
      font-family: Evolventa;
      line-height: 0.8;
      font-size: var(--font-size);
      letter-spacing: mixins.lsp(-5);
      @include mixins.adaptiveValue("--font-size", 54, 30, 1240, 611);
      &:not(:last-child) {margin-bottom: mixins.toRem(48);}

      @media (width < #{mixins.toEm(variables.$tablet)}){
        &:not(:last-child) {margin-bottom: mixins.toRem(30);}
      }

      @media (#{mixins.toEm(760)} < width < #{mixins.toEm(variables.$tablet)}) {
        grid-column: span 2;
      }

      @media (width < #{mixins.toEm(variables.$tablet)}){
        order: -2;
      }

      @media (#{mixins.toRem(760)} < width < #{mixins.toEm(950)}){
        text-align: center;
        max-width: mixins.toRem(342);
        margin: 0 auto;
        &:not(:last-child) {margin-bottom: mixins.toRem(50);}
      }

      @media (width < #{mixins.toEm(760)}){
        padding: 0 mixins.toRem(16);
        &:not(:last-child) {margin-bottom: mixins.toRem(10);}
      }
		}

		&__text {
      line-height: 1.3;
      font-size: var(--font-size);
      letter-spacing: mixins.lsp(-5);
      color: var(--grey-on-white-color);

      @include mixins.adaptiveValue("--font-size", 16, 15, 767, 480);

      &:not(:last-child) {margin-bottom: mixins.toRem(40);}

      @media (width >= #{mixins.toEm(760)}){
        max-width: mixins.toRem(368);
      }
      @media (width < #{mixins.toEm(variables.$tablet)}){
        &:not(:last-child) {margin-bottom: mixins.toRem(30);}
      }
		}

		&__button {
		}

		&__image {
      border-radius: mixins.toRem(10);
      overflow: hidden;
      @media (width >= #{mixins.toEm(variables.$tablet)}){
        height: mixins.toRem(400);
      }
      @media (width < #{mixins.toEm(variables.$tablet)}){
        width: 100%;
        height: mixins.toRem(200);
        order: -1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
		}
}
//==========================================================================================
.conditions-workspace {
  background-color: var(--warm-white-color);

  &__container-small {
    padding-bottom: mixins.toRem(50);
    @include mixins.adaptiveValue("padding-top", 100, 80, 767, 480);
  }

  &__head {
    text-align: center;
    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 60, 40, 960, 768);
    }
  }

  &__title {
    font-family: Evolventa;
    line-height: 0.8;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 42, 28, 960, 624);
    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 40, 20, 768, 480);
    }
  }

  &__subtitle {
    max-width: mixins.toRem(500);
    margin: 0 auto;
    color: var(--grey-on-white-color);
    line-height: 1.3;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 16, 15, 768, 480);
  }

  &__body {
    display: grid;
    gap: 0 mixins.toRem(20);
    grid-template-columns: mixins.toRem(315) auto mixins.toRem(387);
    max-width: mixins.toRem(1250);

    @media (width < #{mixins.toEm(1150)}){
      grid-template-columns: repeat(2, 1fr);
      gap: mixins.toRem(20) mixins.toRem(40);
    }
    @media (width < #{mixins.toEm(variables.$mobile)}){
      gap: mixins.toRem(40) mixins.toRem(10);
    }
  }

  &__image {
    border-radius: mixins.toRem(10);
    overflow: hidden;
    @media (width >= #{mixins.toEm(1150)}){
      height: mixins.toRem(400);
      
      &:first-child{
        height: mixins.toRem(250);
      }
    }
    @media (#{mixins.toEm(variables.$mobile)} < width < #{mixins.toEm(1150)}){
      height: mixins.toRem(200);
      &:first-child{
        width: mixins.toRem(200);
        height: mixins.toRem(140);
        margin-left: auto;
      }
    }
    @media (width < #{mixins.toEm(variables.$mobile)}){
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    align-self: center;
    width: max-content;
    margin: 0 auto;
    @media (#{mixins.toEm(variables.$mobile)} < width < #{mixins.toEm(1150)}){
      grid-row: 1 / span 2;
      grid-column-start: 2;
    }
    @media (width < #{mixins.toEm(variables.$mobile)}){
      grid-column: 1 / span 2;
      grid-row-start: 2;
    }

    h3 {
      line-height: 1.2;
      font-size: var(--font-size);
      letter-spacing: mixins.lsp(-5);
      @include mixins.adaptiveValue("--font-size", 20, 16, 767, 480);
      &:not(:last-child) {
        @include mixins.adaptiveValue("margin-bottom", 30, 20, 767, 480);
      }
    }

    ul {
      &:not(:last-child) {
        @include mixins.adaptiveValue("margin-bottom", 50, 40, 767, 480);
      }
    }

    li {
      position: relative;
      color: var(--dark-blue-color);
      line-height: 1.3;
      font-size: var(--font-size);
      letter-spacing: mixins.lsp(-5);
      padding-left: mixins.toRem(18);
      border-left: mixins.toRem(2) solid var(--dark-blue-color);
      @include mixins.adaptiveValue("--font-size", 16, 15, 767, 480);

      &:not(:last-child) {
        @include mixins.adaptiveValue("margin-bottom", 20, 12, 767, 480);
      }
    }
  }

  &__button {
  }
}
//==========================================================================================
.workplace {
  background-color: var(--warm-white-color);

  &__container {
    @include mixins.adaptiveValue("padding-top", 100, 80, 1240, 960);
    @include mixins.adaptiveValue("padding-bottom", 100, 80, 1240, 960);
  }

  &__content {
    align-self: stretch;
    padding-top: mixins.toRem(60);
    padding-bottom: mixins.toRem(40);

    @include mixins.adaptiveValue("padding-left", 40, 16, 960, 480);
    @include mixins.adaptiveValue("padding-right", 40, 16, 960, 480);

    @media (#{mixins.toEm(variables.$mobileSmall)} < width < #{mixins.toEm(variables.$tablet)}){
      padding-top: mixins.toRem(70);
      padding-bottom: mixins.toRem(60);
    }
  }

  &__head {
    color: var(--main-white-color);
    display: flex;
    justify-content: space-between;
    @include mixins.adaptiveValue("gap", 52, 40, 960, 768);

    &:not(:last-child) {margin-bottom: mixins.toRem(350);}

    @media (width < #{mixins.toEm(variables.$tablet)}){
      &:not(:last-child) {margin-bottom: mixins.toRem(140);}
    }
    @media (width < #{mixins.toEm(865)}){
      flex-direction: column;
    }
    @media (width < #{mixins.toEm(variables.$mobile)}){
      &:not(:last-child) {margin-bottom: mixins.toRem(80);}
    }
    @media (width < #{mixins.toEm(variables.$mobileSmall)}){
      &:not(:last-child) {margin-bottom: mixins.toRem(60);}
    }
  }

  &__title {
    font-family: Evolventa;
    line-height: 0.8;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 54, 30, 960, 767);
  }

  &__subtitle {
    max-width: mixins.toRem(425);
    line-height: 1.3;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 16, 15, 767, 480);

    @media (width >= #{mixins.toEm(variables.$tablet)}){
      padding-right: mixins.toRem(40);
    }
    
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    gap: mixins.toRem(20);
    &:not(:last-child) {margin-bottom: mixins.toRem(60);}
    
    &:nth-child(even) {
      .workplace__item {
        translate: mixins.toRem(50) 0;
        opacity: 0;
      }
    }
    &:nth-child(odd) {
      .workplace__item {
        translate: mixins.toRem(-50) 0;
        opacity: 0;
      }
    }
    .workplace__rowtitle {
      translate: 0 mixins.toRem(10);
      opacity: 0;
    }

    &._watcher-view {
      .workplace__item,
      .workplace__rowtitle {
        opacity: 1;
        translate: none;
      }
    }

    @media (width < #{mixins.toEm(variables.$tablet)}){
      grid-template-columns: repeat(2, 1fr);

      p {
        order: 1;
      }
    }
    @media (#{mixins.toEm(625)} < width < #{mixins.toEm(865)}){
      &:nth-child(even) {
        grid-template-columns: mixins.toRem(400) auto;
      }
      &:nth-child(odd) {
        grid-template-columns: auto mixins.toRem(400);
        .workplace__rowbody {
          grid-column-start: 2;
        }
      }
    }
    @media (width < #{mixins.toEm(625)}){
      grid-template-columns: 1fr;
    }
  }

  &__rowbody {
    display: grid;
    gap: mixins.toRem(20);
    @media (width >= #{mixins.toEm(865)}){
      grid-column: span 2;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__rowtitle {
    color: var(--main-white-color);
    font-family: Evolventa;
    line-height: 1.2;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-2);
    @include mixins.adaptiveValue("--font-size", 28, 20, 960, 480);
    .loaded & {
      transition: all 0.5s ease 0s;
    }

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 10, 0, 767, 480);
    }

    @media (width >= #{mixins.toEm(865)}){
      grid-column: span 2;
    }
  }

  &__item {
    background-color: var(--main-white-color);
    display: flex;
    flex-direction: column;
    gap: mixins.toRem(10);
    justify-content: space-between;
    border-radius: mixins.toRem(5);
    overflow: hidden;
    padding: mixins.toRem(20);

    @include mixins.adaptiveValue("min-height", 248, 175, 960, 480);

    .loaded & {
      transition: all 0.7s ease;
      transition-delay: calc(0.5s * var(--i, 0));
    }
  }

  &__itemtitle {
    line-height: 1.2;
    color: var(--dark-blue-color);
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 20, 16, 767, 480);
  }

  &__itemtext {
    line-height: 1.3;
    color: var(--grey-on-white-color);
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 16, 15, 767, 480);
  }

  &__info {
    max-width: mixins.toRem(415);
    line-height: 1.3;
    color: var(--grey-on-white-color);
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    @include mixins.adaptiveValue("--font-size", 16, 15, 767, 480);
  }
}
//==========================================================================================
.variants-workspace {

  &__container-small {
    @include mixins.adaptiveValue("padding-top", 100, 60, 960, 767);
    @include mixins.adaptiveValue("padding-bottom", 100, 60, 1240, 767);
  }

  &__head {
    text-align: center;
    &:not(:last-child) {margin-bottom: mixins.toRem(60);}
  }

  &__title {
    font-family: Evolventa;
    line-height: 0.8;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    max-width: mixins.toRem(765);
    margin: 0 auto;
    @include mixins.adaptiveValue("--font-size", 42, 30, 960, 612);

    &:not(:last-child) {
      @include mixins.adaptiveValue("margin-bottom", 40, 20, 960, 480);
    }

    @media (width < #{mixins.toEm(variables.$tablet)}){
      max-width: mixins.toRem(688);
    }
  }

  &__subtitle {
    max-width: mixins.toRem(538);
    line-height: 1.3;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    margin: 0 auto;
    color: var(--grey-on-white-color);
    @include mixins.adaptiveValue("--font-size", 16, 15, 767, 480);
  }

  &__body {
    display: grid;
    gap: mixins.toRem(20);
    @media (width >= #{mixins.toEm(variables.$mobile)}){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    border: mixins.toRem(1) solid var(--black-color-10);
    display: flex;
    flex-direction: column;
  }

  &__itemtitle {
    line-height: 1.2;
    font-size: var(--font-size);
    letter-spacing: mixins.lsp(-5);
    border-bottom: mixins.toRem(1) solid var(--black-color-10);
    
    @include mixins.adaptiveValue("--font-size", 20, 16, 767, 480);
    @include mixins.adaptiveValue("padding", 20, 16, 767, 480);
  }

  &__itembody {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: mixins.toRem(40) mixins.toRem(20) mixins.toRem(20);

    ul {
      &:not(:last-child) {margin-bottom: mixins.toRem(60);}
    }

    li {
      position: relative;
      padding-left: mixins.toRem(34);
      line-height: math.div(24 , 16);
      color: var(--grey-on-white-color);
      font-size: var(--font-size);
      letter-spacing: mixins.lsp(-3);
      @include mixins.adaptiveValue("--font-size", 16, 15, 767, 480);

      &:not(:last-child) {
        @include mixins.adaptiveValue("margin-bottom", 10, 8, 767, 480);
      }

      &::before{
        content:'';
        position: absolute;
        left: mixins.toRem(7);
        top: mixins.toRem(7);
        width: mixins.toRem(10);
        height: mixins.toRem(10);
        border-radius: 50%;
        border: mixins.toRem(1) solid var(--natural-color);
      }
    }
  }

  &__button {
    margin-top: auto;
  }
}
