// ===============
// colors palette
// ===============
:root {
  --main-white-color: #FFFFFF;
  --black-color: #000000;
  --black-color-60: rgba(0, 0, 0, 0.6);
  --black-color-10: rgba(0, 0, 0, 0.1);
  --black-color-20: rgba(0, 0, 0, 0.2);
  --black-color-30: rgba(0, 0, 0, 0.3);
  --main-blue-color: #1B365D;
  --accent-color: #031880;
  --light-grey-color: #F2F2F2;
  --dark-grey-color: #1E1E1E;
  --dark-blue-color: #0F1C2E;
  --natural-color: #E6D6C7;
  --text-nature-color: #723B0A;
  --stroke-color: #253142;
  --light-stroke-color: #DFDFDF;
  --btn-dark-color: #1B293F;
  --eee-color: #EEEEEE;
  --black-on-white-color: #B2B2B2;
  --grey-on-white-color: #898989;
  --red-color: #D21111;
  --white-color-op-01: #FFFFFF1A;
  --grey-color: #3D3D3D;
  --white-on-black-color: #6B6B6B;
  --warm-white-color: #FAF8F4;
}
