<section class="brands">
  <div class="brands__container">
    <div class="brands__bg">
      <img src="/img/about/brands_bg.svg" alt="Image" class="_md3dn">
      <img src="/img/about/brands_bg_mobile.svg" alt="Image" class="_mmd3dn">
    </div>
    <div class="brands__logo">
      <img src="/img/logo-column-white.svg" alt="Image">
    </div>
    <div class="splide brands__slider slider-brands">
      <div class="splide__track slider-brands__track">
        <ul class="splide__list slider-brands__list">
          <li class="splide__slide slider-brands__slide">
            <img src="/img/about/brands_1.svg" alt="Image">
          </li>
          <li class="splide__slide slider-brands__slide">
            <img src="/img/about/brands_2.svg" alt="Image">
          </li>
          <li class="splide__slide slider-brands__slide">
            <img src="/img/about/brands_3.svg" alt="Image">
          </li>
          <li class="splide__slide slider-brands__slide">
            <img src="/img/about/brands_4.svg" alt="Image">
          </li>
          <li class="splide__slide slider-brands__slide">
            <img src="/img/about/brands_5.svg" alt="Image">
          </li>
        </ul>
      </div>
    </div>
    <div class="brands__text">
      Ученики приезжают к нам со всего мира — из Европы, Азии, Ближнего Востока и Америки. География наших выпускников — 53 страны. После обучения в нашей школе они строят карьеру в ведущих ювелирных домах, работают на госуровне или открывают собственные мастерские
    </div>
  </div>
</section>