<section class="parallax-bg" data-parallax-bg style="padding-bottom: 0;">
  <div 
    class="parallax-bg__wrapper" 
    data-parallax-bg-wrapper 
    data-parallax-bg-offset-percents="0.4"
    data-parallax-bg-bg-direction="down"
    style="min-height: 50rem; border-radius: 0;"
  >
    <div 
      class="parallax-bg__bg" 
      data-parallax-bg-bg
      data-parallax-bg-bg-offset="0.2"
    >
    <img src="/img/common/prefooter_bg.png" alt="prefooter_bg">
    </div>
    <div class="parallax-bg__content prefooter">
      <div class="prefooter__container-small">
        <div class="prefooter__body">
          <div class="prefooter__head">
            <h2 class="prefooter__title">Дайте нам знать — и мы предложим лучшее</h2>
            <div class="prefooter__subtitle" data-da=".prefooter__body, 992, last">
              Работаем пн-пт с 9:00 до 18:00 по Мск <br>
              Свяжемся с вами в течение часа
            </div>
          </div>
          <form action="#" class="prefooter__form form">
            <div class="prefooter__row">
              <label class="prefooter__item form__item">
                <input type="text" class="prefooter__input form__input" data-required placeholder="Ваше имя*">
              </label>
              <label class="prefooter__item form__item">
                <input 
                  type="text" 
                  class="prefooter__input form__input" 
                  data-required="phone"
                  placeholder="Ваш телефон*"
                  data-inputmask="'mask': '+7 (999) 999-99-99'"
                >
              </label>
            </div>
            <div class="prefooter__row">
              <label class="prefooter__item form__item">
                <input type="text" class="prefooter__input form__input" placeholder="Ваше сообщение">
              </label>
            </div>
            <div class="prefooter__row">
              <button type="submit" class="prefooter__button btn btn-blue">Оставить заявку</button>
            </div>
            <div class="prefooter__row">
              <label class="prefooter__boxwrap form__boxwrap">
                <input type="checkbox" data-required>
                <i></i>
                <span>
                  Я принимаю <a href="#">условия конфиденциальности</a> и даю <a href="#">согласие на обработку моих персональных данных</a>
                </span>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>